@page
@model VC.Wallet.WebApplication.Areas.Holder.Pages.DetailsModel
@{
    ViewData["Title"] = "Profile";
}

<div class="card shadow rounded">
    <div class="card-header">
        <h3>@ViewData["Title"]</h3>
    </div>
    <div class="card-body">
        @if (!string.IsNullOrEmpty(Model?.ErrorMessage))
        {
            <div class="alert alert-danger">
                <p>ERROR: @Model.ErrorMessage</p>
            </div>
        }
        else
        {
            <div class="card">
                <div class="card-body">
                    <dl class="row">
                        <dt><strong>@Html.DisplayNameFor(model => model.Holder.name)</strong></dt>
                        <dd>@Html.DisplayFor(model => model.Holder.name)</dd>
                        <dt><strong>@Html.DisplayNameFor(model => model.Holder.username)</strong></dt>
                        <dd>@Html.DisplayFor(model => model.Holder.username)</dd>
                        <dt><strong>@Html.DisplayNameFor(model => model.Holder.countryCode)</strong></dt>
                        <dd>@Html.DisplayFor(model => model.Holder.countryCode)</dd>
                        <dt><strong>@Html.DisplayNameFor(model => model.Holder.region)</strong></dt>
                        <dd>@Html.DisplayFor(model => model.Holder.region)</dd>
                        <dt><strong>@Html.DisplayNameFor(model => model.Holder.dateCreated)</strong></dt>
                        <dd>@Html.DisplayFor(model => model.Holder.dateCreated)</dd>
                    </dl>
                </div>
                <div class="card-footer">
                    <a asp-page="./Edit" class="btn btn-primary">Edit</a>
                </div>
            </div>
        }
    </div>

</div>
